<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <!-- ConsoleAppender：控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- %m输出的信息,%p日志级别,%t线程名,%d日期,%c类的全名,%i索引【从数字0开始递增】 -->
            <pattern>%d %p (%file:%line\) %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 控制台输出日志级别 -->
    <root level="info">
        <!--与上面appender的name要一致-->
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="org.springframework.jdbc.core" level="debug"/>
<!--    <logger name="org.springframework.jdbc.core.StatementCreatorUtils" level="trace"/>-->

</configuration>